<div class="row login">
    <h3 class="heading">Session Login-Logout</h3>br

    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <form autocapitalize="off" action="/login-user" method="post">
            <div class="mb-3">
                <label class="form-label">User Name</label>
                <input type="text" class="form-control" name="username" value="">

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" autocapitalize="off" value="">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="/add"> <button type="button" id="addUserBtn" class="btn btn-success">Add User</button></a>
        </form>
    </div>
</div>